.patientView {
  background-color: #f0f3fb;
  padding: 20px;
}
.patientInfo {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
}

.btnColor {
  background-color: #89c2e0;
  border: '1px black solid';
}
/* Patient CSS */
.patientBtn:not(:hover){
  background-color: #f0f3fb;
}

.patientBtn:hover{
  background-color: #89c2e0;
}

.patientBtn:active{
  background-color: #89c2e0;
}

.flags {
  display: inline;
  margin-left: 5px;
  border-radius: 10px;
  background-color: #ff6666;
  padding: 12px;
}
.notesContainer {
  list-style-type: none;
  padding-left: 0px;
}
/* notes table */
table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
